@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;

    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        position: static;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        flex: 1 1 auto;
    }
}